.filter {
  height: 500px;
  padding: 80px 24px;
  position: relative;
  background: transparent url(../img/filter-bg0.jpg) repeat top left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .filter > div {
    margin: 15px; }
    .filter > div label {
      font-size: 20px;
      color: #100d0e; }
    .filter > div input {
      color: #100d0e;
      font-size: 18px; }
    .filter > div .filter-select {
      min-width: 160px;
      font-size: 18px; }
    .filter > div .filter-btn {
      display: inline-block;
      border: none;
      border-radius: 2px;
      padding: 10px 25px;
      min-width: 160px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      text-transform: uppercase;
      margin-top: 35px;
      transition: all 0.2s ease-out; }
      .filter > div .filter-btn:hover {
        background: rgba(0, 0, 0, 0.9);
        cursor: pointer; }
  .filter .date-picker-select {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 9px 5px;
    border: none;
    margin-top: 34px;
    border-radius: 2px;
    outline: none; }
  .filter .date-picker-label {
    max-width: 160px; }
    .filter .date-picker-label label {
      font-size: 16px;
      top: auto;
      bottom: 40px;
      transform: none !important; }
  .filter .react-datepicker {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.7); }
    .filter .react-datepicker-wrapper {
      width: 100%; }
    .filter .react-datepicker__input-container {
      width: 160px; }
    .filter .react-datepicker__header {
      background: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.7); }
    .filter .react-datepicker__navigation--previous {
      border-right-color: #000; }
    .filter .react-datepicker__navigation--next {
      border-left-color: #000; }
    .filter .react-datepicker__day:hover {
      background: rgba(0, 0, 0, 0.3) !important;
      color: #bd5e3b; }
    .filter .react-datepicker__day--selected {
      background: rgba(0, 0, 0, 0.7);
      color: #A55031; }
  .filter .react-datepicker-popper[data-placement^="bottom"]
.react-datepicker__triangle,
  .filter .react-datepicker-popper[data-placement^="bottom"]
.react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.7); }
  .filter .cb-slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 0;
    list-style-type: none;
    overflow: hidden; }
    .filter .cb-slideshow:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      list-style-type: none;
      background: rgba(142, 47, 47, 0.4); }
    .filter .cb-slideshow li span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      -webkit-backface-visibility: hidden;
      animation: imageAnimation 26s linear 1; }
    .filter .cb-slideshow li:nth-child(1) span {
      background-image: url(../img/filter-bg.jpg);
      animation-delay: 1s; }
    .filter .cb-slideshow li:nth-child(2) span {
      background-image: url(../img/filter-bg2.jpg);
      animation-delay: 8s; }
    .filter .cb-slideshow li:nth-child(3) span {
      background-image: url(../img/filter-bg3.jpg);
      animation-delay: 17s; }

/* Animation for the slideshow images */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: linear; }
  14% {
    opacity: 0.6;
    transform: scale(1.05);
    animation-timing-function: linear; }
  28% {
    opacity: 0.85;
    transform: scale(1.1);
    animation-timing-function: linear; }
  42% {
    opacity: 1;
    transform: scale(1.15);
    animation-timing-function: linear; }
  56% {
    opacity: 1;
    transform: scale(1.2);
    animation-timing-function: linear; }
  70% {
    opacity: 0.6;
    transform: scale(1.25);
    animation-timing-function: linear; }
  84% {
    opacity: 0.3;
    transform: scale(1.2);
    animation-timing-function: linear; }
  100% {
    opacity: 0;
    animation-timing-function: linear; } }

.MuiPaper-root-9 {
  background: rgba(0, 0, 0, 0.9); }
