.filter {
  min-height: 450px;
  padding: 80px 24px;
  background: url("../img/filter-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .filter > div {
    margin: 15px; }
