.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 64px;
  z-index: 99; }
  .header header {
    background: rgba(0, 0, 0, 0.5); }
  .header .logo-link {
    color: white;
    text-decoration: none; }
    .header .logo-link:hover {
      opacity: 0.7; }
  .header__logo {
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center; }
    .header__logo .logo {
      animation: App-logo-spin infinite 20s linear;
      height: 32px;
      width: auto;
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
