.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.hotel__block {
  height: 400px;
  width: 280px;
  margin: 12px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .hotel__block img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.35; }
  .hotel__block:before {
    content: '';
    position: absolute;
    background: rgba(22, 22, 22, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto; }
  .hotel__block .hotel-content {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    color: white;
    text-decoration: none;
    z-index: 2; }
    .hotel__block .hotel-content:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-image: url(../../img/default-img-hotel.png);
      background-size: contain;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .hotel__block .hotel-content:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transform: scale3d(2.8, 1.8, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      transition: all 1s ease-out; }
    .hotel__block .hotel-content:hover:before {
      transform: scale3d(2.8, 1.8, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }
    .hotel__block .hotel-content__title {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.95); }
    .hotel__block .hotel-content__text {
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase; }
      .hotel__block .hotel-content__text span {
        display: inline-block;
        color: #e8da57; }
    .hotel__block .hotel-content__btn {
      height: 36px;
      border-radius: 2px;
      padding: 6px 12px;
      border: none;
      margin-bottom: -36px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #222;
      opacity: 0;
      transition: all 0.3s ease-out; }
    .hotel__block .hotel-content:hover {
      cursor: pointer; }
      .hotel__block .hotel-content:hover .slider-content__btn {
        margin-bottom: 0;
        opacity: 1; }

.about-hotel__top {
  width: 100%;
  height: 300px;
  position: relative;
  background: url(../../img/about-hotel.jpg) no-repeat center;
  background-size: cover; }
  .about-hotel__top:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style-type: none;
    background: rgba(142, 47, 47, 0.4); }

.about-hotel__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px; }
  .about-hotel__container .main-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 40px;
    font-weight: 300; }
  .about-hotel__container h3 {
    font-weight: 300; }
  .about-hotel__container .hotel-info {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .about-hotel__container .hotel-info__img {
      width: 50%;
      position: relative; }
      .about-hotel__container .hotel-info__img:after {
        content: "Photo is missing";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url(../../img/default-hotel.jpg) no-repeat center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        opacity: 0.25; }
      .about-hotel__container .hotel-info__img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about-hotel__container .hotel-info__content {
      width: 50%;
      padding-left: 40px; }
      .about-hotel__container .hotel-info__content .title {
        margin-top: 0;
        font-weight: 300; }
        .about-hotel__container .hotel-info__content .title.title-price {
          color: #8e2f2f;
          font-size: 20px; }
      .about-hotel__container .hotel-info__content ul {
        list-style-type: none;
        padding-left: 0; }
      .about-hotel__container .hotel-info__content .info-room {
        display: block; }

.about-hotel__map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 40px; }
  .about-hotel__map .contact-block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: auto;
    width: 320px;
    padding: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2; }
    .about-hotel__map .contact-block .title {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0; }
    .about-hotel__map .contact-block ul {
      list-style-type: none; }
      .about-hotel__map .contact-block ul li {
        padding: 5px 0;
        display: inline-block; }

.google-icons {
  width: 50px;
  height: 75px;
  background: url("../../img/location-icon.png") no-repeat center;
  background-size: cover; }
