.content {
  padding: 50px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hotel__block {
  height: 400px;
  width: 280px;
  margin: 12px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.35;
  }
  &:before {
    content: '';
    position: absolute;
    background: rgba(22, 22, 22, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
  }
  .hotel-content {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    text-decoration: none;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transform: scale3d(2.8, 1.8, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      transition: all 1s ease-out;
    }
    &:hover {
      &:before {
        transform: scale3d(2.8, 1.8, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
      }
    }
    &__title {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.95);
    }
    &__text {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__btn {
      height: 36px;
      border-radius: 2px;
      padding: 6px 12px;
      border: none;
      margin-bottom: -36px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #222;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &:hover {
      cursor: pointer;
      .slider-content__btn {
        margin-bottom: 0;
        opacity: 1;
      }
    }
  }
}

// About hotel

.about-hotel {
  &__top {
    width: 100%;
    height: 300px;
    position: relative;
    background: url(../img/about-hotel.jpg) no-repeat center;
    background-size: cover;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      list-style-type: none;
      background: rgba(142, 47, 47, 0.4);
    }
  }
  &__container {
    max-width: 1200px;
    padding: 40px 24px;
  }
}